@import url(./brands.css);
@import url(./solid.css);

@font-face {
    font-family: 'jb';
    src: url(../src/fonts/JetBrainsMono-Medium.ttf);
}

:root {
    --main-color: #ff3600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
    border: none;
    outline: none;
    text-decoration: none;
    transition: .5s;
    font-family: 'jb';
}

.scroll::-webkit-scrollbar {
    width: .5rem;
}

.scroll::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
}

body {
    font-size: 1rem;
}


@media(max-width: 800px) {
    html {
        font-size: 93%;
    }
}